<!-- Header -->
<% include template/view_header %>
<!-- /Header -->

<!-- Container Starts -->
<div class="container">

	<center>
		<h1>Gestion des stocks et des ventes</h1>
	</center>
	<!-- menu -->
	<% include template/view_menu %>
	<!-- /menu -->
	<center>
		<h4>Ajouter nouveau produit</h4>
	</center>

	<form action="/product_info/insert_product_info" method="POST" class="">

		Nom du produit :
		<input type="text" name="nom" class="form-control">
		Categorie :
		<select class="form-control select2" name="categorie">
			<option>--Veuillez selectionner--</option>
			<option value="CD"> CD </option>
			<option value="DVD"> DVD </option>
			<option value="Jeu Video"> Jeu Vidéo </option>
			<option value="Bluray"> Bluray </option>
			<option value="Magazine"> Magazine </option>
		</select>
		Date d'ajout du stock :
		<input type="date" step="any" name="date_stock" class="form-control">
		Quantite d'ajout au stock :
		<input type="number" step="any" name="qt_stock" class="form-control">
		Prix unitaire :
		<input type="number" step="any" name="price" class="form-control">
		Date debut validité prix :
		<input type="date" step="any" name="date_debut" class="form-control">
		Date fin validité prix :
		<input type="date" step="any" name="date_fin" class="form-control"><br>


		<input type="submit" name="submit" value="Ajouter" class="btn btn-success">

	</form>


	<% if (errors) { %>

	<ul>
		<% errors.forEach(function(e){ %>

		<li><%= e %></li>

		<% }); %>
	</ul>

	<% } %>


</div>
<!-- Container Ends -->

<!-- Footer -->
<% include template/view_footer %>
<!-- /Footer -->