<!-- Header -->
<% include template/view_header %>
<!-- /Header -->

<!-- Container Starts -->
<div class="container">

	<center>
		<h1>Gestion des stocks et des ventes</h1>
	</center>
	<!-- menu -->
	<% include template/view_menu %>
	<!-- /menu -->
	<center>
		<h4>Modifier produit</h4>
	</center>

	<% if (prodit_a_modifier) { %>
	<form action="/product_info/edit_product_info" method="POST" class="">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>N°</th>
					<th>Nom du produit</th>
					<th>Categorie</th>
					<th>Quantité</th>
					<th>Prix unitaire</th>
					<th>Date debut validité prix</th>
					<th>Date fin validité prix</th>
				</tr>
			</thead>
			<tbody>
				<% 
				prodit_a_modifier.forEach(function(row){ %>
				<tr>
					<td>
						<input type="text" step="any" value="<%= row.Id_produit %>" name="id_produit" readonly="true"
							class="form-control">
					</td>
					<td>
						<input type="text" step="any" name="nom" placeholder="<%= row.Nom %>" value="<%= row.Nom %>"
							class="form-control">
					</td>
					<td>
						<select class="form-control select2" name="categorie" required>
							<option value="">--Veuillez selectionner--</option>
							<option value="CD"> CD </option>
							<option value="DVD"> DVD </option>
							<option value="Jeu Video"> Jeu Vidéo </option>
							<option value="Bluray"> Bluray </option>
							<option value="Magazine"> Magazine </option>
						</select>
					</td>
					<td>
						<input type="number" step="any" name="qt_stock" placeholder="<%= row.Qt_mv %>"
							value="<%= row.Qt_mv %>" class="form-control">
					</td>
					<td>
						<input type="number" step="any" name="price" placeholder="<%= row.Valeur %>"
							value="<%= row.Valeur %>" class="form-control">
					</td>
					<td>
						<input type="text" step="any" name="date_debut"
							value="<%= row.Date_debut %>" class="form-control" onfocus="(this.type='date')">
					</td>
					<td>
						<input type="text" step="any" name="date_fin"
							value="<%= row.Date_Fin %>" class="form-control" onfocus="(this.type='date')">
					</td>
				</tr>
				<% }); %>
			</tbody>
		</table>


		<input type="submit" name="submit" value="Modifier produit" class="btn btn-info">
	</form>
	<% } else if (errors) {%>

	<ul>
		<% errors.forEach(function(e){ %>

		<li><%= e %></li>

		<% }); %>
	</ul>

	<% } %>

</div>
<!-- Container Ends -->

<!-- Footer -->
<% include template/view_footer %>
<!-- /Footer -->