<!-- Header -->
<% include template/view_header %>
<!-- /Header -->

<!-- Container Starts -->
<div class="container">

	<center>
		<h1>Gestion des stocks et des ventes</h1>
	</center>
	<!-- menu -->
	<% include template/view_menu %>
	<!-- /menu -->
	<center>
		<h4>Vente produit</h4>
	</center>

	<form action="" method="POST" class="">

		Nom du produit :
		<select class="form-control select2" name="id_produit">
			<option>--Veuillez selectionner--</option>
			<% if(liste_produits){ %>
			<% liste_produits.forEach(function(row){ %>

			<option value="<%= row.Id %>"> <%= row.Nom %> </option>

			<%	}); %>
			<% } %>
		</select>
		Quantité à vendre :
		<input type="number" step="any" name="qt_stock" class="form-control">

		<input type="submit" name="submit" value="Vendre" class="btn btn-info">

	</form>


</div>
<!-- Container Ends -->

<!-- Footer -->
<% include template/view_footer %>
<!-- /Footer -->