<!-- Header -->
<% include template/view_header %>
<!-- /Header -->

<!-- Container Starts -->
<div class="container">

	<center>
		<h1>Gestion des stocks et des ventes</h1>
	</center>
	<!-- menu -->
	<% include template/view_menu %>
	<!-- /menu -->
	<center>
		<h4>Liste du stock</h4>
	</center>

	<% if (liste_produits) { %>
	<table class="table table-bordered table-sm">
		<thead>
			<tr>
				<th class="th-sm">N°</th>
				<th class="th-sm">Nom du produit</th>
				<th class="th-sm">Categorie</th>
				<th class="th-sm">Prix unitaire</th>
				<th class="th-sm">Quantité</th>
				<th class="th-sm">Modifier</th>
				<th class="th-sm">Supprimer</th>
			</tr>
		</thead>
		<tbody>
			<% liste_produits.forEach(function(row){ %>
			<tr>
				<td><%= row.Id_produit %></td>
				<td><%= row.Nom %></td>
				<td><%= row.Categorie %></td>
				<td><%= row.Valeur %></td>
				<td><%= row.Qt_mv %></td>
				<td>
					<a href="/product_info/edit_product_info/<%= row.Id_produit %>">
						<i class="fa fa-edit" aria-hidden="true"></i>
					</a>
				</td>
				<td>
					<a href="/product_info/delete/<%= row.Id_produit %>"
						onclick="return confirm('Êtes-vous sûr de vouloir faire cela ? L\'historique sera aussi supprimé !')">
						<i class="fa fa-remove" aria-hidden="true"></i>
					</a>
				</td>
			</tr>
			<% }); %>

		</tbody>
	</table>
	<% } %>

</div>
<!-- Container Ends -->

<!-- Footer -->
<% include template/view_footer %>
<!-- /Footer -->