<!-- Header -->
<% include template/view_header %>
<!-- /Header -->

<!-- Container Starts -->
<div class="container">

	<center>
		<h1>Gestion des stocks et des ventes</h1>
	</center>
	<!-- menu -->
	<% include template/view_menu %>
	<!-- /menu -->
	<center>
		<h4><%= title %></h4>
	</center>

	<% if (historique_produit) { %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>N°</th>
				<th>Nom du produit</th>
				<th>Quantité</th>
				<th>Prix unitaire</th>
				<th>Date</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody>
			<% 
			var sl=1;
			historique_produit.forEach(function(row){ %>
			<tr>
				<td><%= row.product_in_out_data_id %></td>
				<td><%= row.Nom %></td>
				<td>
					<% if(row.in_out_type=='1'){ %>
					<%= row.in_qty %>
					<% } else{ %>
					<%= row.out_qty %>
					<% } %>

				</td>
				<td><%= row.in_out_unt_price %></td>
				<td><%= row.created_at %></td>
				<td><%= row.details %></td>

			</tr>
			<% }); %>

		</tbody>
	</table>
	<% } %>

</div>
<!-- Container Ends -->

<!-- Footer -->
<% include template/view_footer %>
<!-- /Footer -->