<hr>
<div class="text-right">
    <a href="<%= base_url %>" class="btn btn-success">
        <i class="fa fa-home" aria-hidden="true"></i>Acceuil
    </a>
    <a href="<%= base_url %>product_sell/sell" class="btn btn-info">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Vente produit
    </a>
    <a href="<%= base_url %>product_info/create" class="btn btn-danger">
        <i class="fa fa-plus" aria-hidden="true"></i> Ajouter nouveau produit
    </a>
    <a href="<%= base_url %>product_info/modify_stock" class="btn btn-warning">
        <i class="fa fa-pencil" aria-hidden="true"></i> Modifier stock
    </a>
    <a href="<%= base_url %>product_info/in_history" class="btn btn-primary">
        <i class="fa fa-sign-in" aria-hidden="true"></i> Historique des entrées
    </a>
    <a href="<%= base_url %>product_info/out_history" class="btn btn-primary">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Historique des sorties
    </a>
</div>
<hr>